<template>
  <div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center" v-if="value.pages">
        <li class="page-item" :class="{ 'disabled' : value.page == 0}">
          <a class="page-link" @click="setPage(0)">First</a>
        </li>
        <li class="page-item" :class="{ 'disabled' : value.page == 0}">
          <a class="page-link" @click="setPage(value.page - 1)">Previous</a>
        </li>
        <li
          class="page-item"
          v-for="item in changeFor(value)"
          :key="item"
          :class="{ 'active': value.page == item -1 }"
        >
          <a class="page-link" @click="setPage(item - 1)">{{ item }}</a>
        </li>
        <li class="page-item" :class="{ 'disabled' : value.page == value.pages - 1}">
          <a class="page-link" @click="setPage(value.page + 1)">Next</a>
        </li>
        <li class="page-item" :class="{ 'disabled' : value.page == value.pages - 1}">
          <a class="page-link" @click="setPage(value.pages - 1)">Last</a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'Pagination',
  props: {
    value: {}
  },
  data () {
    return {
      sP: 0,
      eP: 0
    }
  },
  methods: {
    async setPage (e) {
      await this.$emit('update:pageChanged', e)
    },
    changeFor (event) {
      if (event.pages <= 5) {
        this.sP = 1
        this.eP = event.pages
      } else {
        if (event.page + 2 <= 3) {
          this.sP = 1
          this.eP = 5
        } else if (event.page + 3 >= event.pages) {
          this.sP = event.pages - 4
          this.eP = event.pages
        } else {
          this.sP = event.page + 1 - 2
          this.eP = event.page + 1 + 2
        }
      }
      return this.range(this.sP, this.eP)
    },
    range (start, end) {
      const array = []
      for (let index = start; index < end + 1; index++) {
        array[index] = index
      }
      return array.slice(start, end + 1)
    }
  }
}
</script>
<style scoped>
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: rgb(76,76,76);
    border-color: rgb(76,76,76);
}
/* .page-item.active  {
  z-index: 3;
    color: #fff;
    background-color: rgb(76,76,76) !important;
    border-color: rgb(76,76,76) !important;
} */
</style>
