<template>
  <div>
    <transition name="modal">
      <div v-if="isOpen">
        <div class="overlay" @click.self="isOpen = false">
          <div class="modal1">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" @click.self="isOpen = false">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-6">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="item in users" :key="item.id">
                            <th scope="row">1</th>
                            <td>{{item.firstName}}</td>
                            <td>{{item.lastName}}</td>
                            <td>
                              <button class="btn btn-success" @click="addedUserToProject(item.id)">+</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-md-6">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="item in project.users" :key="item.id">
                            <th scope="row">1</th>
                            <td>{{item.firstName}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <span>{{projectId}}</span>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" @click.self="isOpen = false">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
    <button class="btn btn-success" @click="openAnCloseModal()">{{ isOpen ? "C" : "O" }} M</button>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'Project',
  props: {
    projectId: 0
  },
  data () {
    return {
      isOpen: false
    }
  },
  computed: {
    ...mapGetters(['getUsers', 'getProject']),
    users () {
      return this.$store.state.user.users
    },
    project () {
      return this.$store.state.project.project
    }
  },
  methods: {
    ...mapActions(['fetchUsers', 'addUserToProjectActions', 'fetchProject']),
    addedUserToProject (userId) {
      const up = {
        'userId': userId,
        'projectId': this.projectId
      }
      this.$store.dispatch('addUserToProjectActions', up)
      console.log('Esto es lo que se esta mandando -< ', up)
    },
    async openAnCloseModal () {
      this.isOpen = !this.isOpen
      console.log('--------___>>>>>>>>m ', this.projectId)
      await this.$store.dispatch('fetchProject', this.projectId)
      console.log('---------> ', this.project)
    }
  },
  async mounted () {
    await this.$store.dispatch('fetchUsers')
    console.log('---------> ', this.users)
    let self = this
    window.addEventListener('keyup', function (event) {
      if (event.keyCode === 27) {
        self.isOpen = false
      }
    })
  }
}
</script>
<style scoped>
.modal1 {
  width: 500px;
  margin: 0px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px 3px;
  transition: all 0.2s ease-in;
  font-family: Helvetica, Arial, sans-serif;
}
.fadeIn-enter {
  opacity: 0;
}

.fadeIn-leave-active {
  opacity: 0;
  transition: all 0.2s step-end;
}

.fadeIn-enter .modal,
.fadeIn-leave-active.modal {
  transform: scale(1.1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #00000094;
  z-index: 999;
  transition: opacity 0.2s ease;
}
</style>
