<template>
  <div class="container card-container-up">
    <div v-if="$route.name !== 'AddProject' && $route.name !== 'EditProject'">
      <div class="mb-4 d-flex justify-content-between bd-highlight mb-3">
        <div class="d-flex justify-content-start">
          <span style="font-size: 24px; color: #f8f9fa;" class="mr-3">
            <i class="fas fa-address-card"></i>
          </span>
          <h1 style="font-size: 24px; color: #f8f9fa;" class="mr-sm-2">Projects</h1>
        </div>
        <div class="d-flex justify-content-end search-modify">
          <div class="input-group mr-sm-2">
            <div class="input-group-append">
              <span class="input-group-text input-search" style="color: white !important;">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
            <input type="text" class="form-control search-menu input-search" style="color: white !important;" placeholder="Search for a project">
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-add" @click="redirectTo()">
            <span style="font-size: 15px;">
              Add New Project
            </span>
          </button>
        </div>
      </div>
      <project-list/>
    </div>
    <router-view></router-view>
  </div>
</template>
<script>

export default {
  name: 'Project',
  methods: {
    redirectTo () {
      this.$router.push({name: 'AddProject'})
    }
  },
  mounted () {
    console.log('0000000000000=========> ', this.$route.name)
  }
}
</script>
<style scoped>
.search-modify {
  border-color: transparent;
  box-shadow: none;
  color: white;
  background: #424242 !important;
  border: 0px;
  padding: 2px 17px;
  width: 100%;
  max-width: 480px;
  border-radius: 28px;
  overflow: hidden;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.input-search {
  background: transparent;
  border: 0px;
}

.btn-add {
  line-height: normal;
  /* color: #212529; */
  color: #424242 !important;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  line-height: normal;
  font-weight: 600;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.card-color {
  background-color: #607d8b!important;
  position: absolute;
  z-index: 1;
  /* top: 16%;  */
  right: 0;
  left: 0;
  height: 200px;
}

.card-container-up {
  z-index: 2;
  position: relative;
}

</style>
