<template>
  <div>
    <!-- <div class="container card-container-up"> -->
    <div class="card-color"></div>
    <div style="border-radius: 8px 8px 8px 8px !important; background: #424242 !important;">
      <div class="container">
        <table class="table table-striped table-dark" style="background: #424242 !important;">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Title</th>
              <th>Description</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in projects.rows" :key="item.id">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.title }}</td>
              <td>{{ item.description }}</td>
              <td>
                <button class="btn btn-success" @click="redirectTo(item.id)">E</button>
                <button class="btn btn-danger" @click="deleteProject(item.id)">D</button>
              </td>
              <td>
                <modal-projcet-user :projectId="item.id"></modal-projcet-user>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <pagination :value="{ 'page': this.projects.page, 'pages': this.projects.pages }" v-on:update:pageChanged="setPage($event)"></pagination>
  </div>
  <!-- </div> -->
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'ProjectList',
  computed: {
    ...mapGetters['getProjects'],
    projects () {
      return this.$store.state.project.projects
    }
  },
  methods: {
    ...mapActions(['fetchProjects', 'removeProject']),
    async deleteProject (item) {
      await this.$store.dispatch('removeProject', item)
    },
    redirectTo (item) {
      this.$router.push({name: 'EditProject', params: {id: item}})
    },
    async setPage (page) {
      await this.$store.dispatch('fetchProjects', { page: page, pageSize: 10 })
      console.log('Este es el proyecto de la lista ---> ', Object.assign({}, this.projects))
    }
  },
  async mounted () {
    await this.$store.dispatch('fetchProjects', { page: 0, pageSize: 10 })
    console.log('Este es el proyecto de la lista ---> ', Object.assign({}, this.projects))
  }
}
</script>
<style scoped>

/* .card-color {
  background-color: #607d8b!important;
  position: absolute;
  z-index: 1; */
  /* top: 16%; */
  /* right: 0;
  left: 0;
  height: 200px;
} */

/* .card-container-up { */
  /* z-index: 2; */
  /* position: absolute;
  display: flex; */
/* } */

/* @media screen and (min-width: 768px) {
  .card-color {
    padding-left: 260px;
  }
} */

</style>
