<template>
  <div>
    <div class="mb-4 d-flex justify-content-between bd-highlight mb-3">
      <div class="d-flex justify-content-start">
        <div class="mr-3">
          <button class="btn" type="button" @click="redirectTo()">
            <span style="font-size: 20px; color: white;">
              <i class="fas fa-arrow-left"></i>
            </span>
          </button>
        </div>
        <div class="mr-3">
          <img
            src="http://angular-material.fusetheme.com/assets/images/ecommerce/product-image-placeholder.png"
            alt
          />
        </div>
        <div>
          <div style="font-size: 20px; color: white;">New Project</div>
          <div>
            <span style="color: rgba(250, 250, 250, 0.7)">New Detail</span>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-add" disabled>ADD</button>
      </div>
    </div>

    <div style="border-radius: 8px 8px 8px 8px !important; background: #424242 !important;">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a class="nav-link active-1">Basic Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Project Images</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Inventory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Shipping</a>
        </li>
      </ul>
      <div class="container">
        <form @submit.prevent="submit(project)">
          <div class="form-row">
            <div class="form-group col-md-12 search-modify">
              <label form="name">Name*</label>
              <input
                type="text"
                class="form-control input-search"
                style="color: white;"
                placeholder="Name"
                id="name"
                :class="{ 'is-invalid' : $v.project.name.$error, 'is-valid' : $v.project.name.required }"
                :value="project.name"
                @input="handleForm($event)"
              />
            </div>
            <div class="form-group col-md-12">
              <label form="title">Link*</label>
              <input
                type="text"
                class="form-control input-search"
                placeholder="Title"
                id="title"
                :class="{ 'is-invalid' : $v.project.title.$error, 'is-valid' : $v.project.title.required }"
                :value="project.title"
                @input="handleForm($event)"
              />
            </div>
            <div class="form-group col-md-6">
              <label form="description">Description*</label>
              <textarea
                class="form-control input-search"
                rows="3"
                placeholder="description"
                id="description"
                :class="{ 'is-invalid' : $v.project.description.$error, 'is-valid' : $v.project.description.required }"
                :value="project.description"
                @input="handleForm($event)"
              ></textarea>
            </div>
            <div class="form-group col-md-6">
              <label form="description">Status</label>
              <input
                type="checkbox"
                class="form-control input-search"
                id="status"
                :checked="project.status"
                @input="handleForm($event)"
              />
            </div>
            <div class="form-group col-md-12 mb-5">
              <label form="title">Categories*</label>
              <div class="form-control-add" id="title">
                <div>
                  <span class="chip">
                    Category 1
                    <i class="fas fa-times"></i>
                  </span>
                  <span class="chip">
                    Category 1
                    <i class="fas fa-times"></i>
                  </span>
                  <span class="chip">
                    Category 1
                    <i class="fas fa-times"></i>
                  </span>
                  <span class="chip">
                    Category 1
                    <i class="fas fa-times"></i>
                  </span>
                  <span class="chip">
                    Category 1
                    <i class="fas fa-times"></i>
                  </span>
                  <span class="chip">
                    Category 1
                    <i class="fas fa-times"></i>
                  </span>
                  <span class="chip">
                    Category 1
                    <i class="fas fa-times"></i>
                  </span>
                  <span class="chip">
                    Category 1 asd a sd as d as ds a
                    <i class="fas fa-times"></i>
                  </span>
                  <span class="chip">
                    Category 1 asd
                    <i class="fas fa-times"></i>
                  </span>

                  <span class="chip">
                    Category 1 asd
                    <i class="fas fa-times"></i>
                  </span>

                  <input
                    type="text"
                    class="form-control-add" style="border: 0 !important; color: white !important;"
                    placeholder="Category..."
                    id="title"
                    :class="{ 'is-invalid' : $v.project.title.$error, 'is-valid' : $v.project.title.required }"
                    :value="project.title"
                    @input="handleForm($event)"
                  >
                </div>
              </div>
            </div>
            <div class="form-group col-md-12 mb-5">
              <label form="title">Tags*</label>
              <div class="form-control-add" id="title">
                <div>
                  <span class="chip">
                    tags 1
                    <i class="fas fa-times"></i>
                  </span>
                  <span class="chip">
                    tags 1
                    <i class="fas fa-times"></i>
                  </span>
                  <span class="chip">
                    tags 1
                    <i class="fas fa-times"></i>
                  </span>
                  <span class="chip">
                    tags 1
                    <i class="fas fa-times"></i>
                  </span>
                  <span class="chip">
                    tags 1
                    <i class="fas fa-times"></i>
                  </span>
                  <span class="chip">
                    tags 1
                    <i class="fas fa-times"></i>
                  </span>
                  <span class="chip">
                    tags 1
                    <i class="fas fa-times"></i>
                  </span>
                  <span class="chip">
                    tags 1 asd a sd as d as ds a
                    <i class="fas fa-times"></i>
                  </span>
                  <span class="chip">
                    tags 1 asd
                    <i class="fas fa-times"></i>
                  </span>

                  <span class="chip">
                    tags 1 asd
                    <i class="fas fa-times"></i>
                  </span>

                  <input
                    type="text"
                    class="form-control-add" style="border: 0 !important; color: white !important;"
                    placeholder="Tags..."
                    id="title"
                    :class="{ 'is-invalid' : $v.project.title.$error, 'is-valid' : $v.project.title.required }"
                    :value="project.title"
                    @input="handleForm($event)"
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <!-- <button type="submit" class="btn btn-success">Done</button> -->
            <button type="button" class="btn btn-danger mb-3 mr-2" @click="redirectTo()">
              <i class="far fa-window-close"></i>
            </button>
            <button type="button" class="btn btn-success mb-3" @click="refreshState()">
              <i class="fas fa-redo"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'ProjectAorE',
  computed: {
    ...mapGetters(['fetchProject']),
    projectId () {
      return this.$route.params.id
    },
    project () {
      return this.$store.state.project.project
    }
  },
  methods: {
    ...mapActions(['createProject', 'updateProject', 'updateActionProject']),
    ...mapMutations(['RESET_STATE']),
    handleForm (e) {
      this.$store.dispatch('updateActionProject', e)
      this.$v.project[e.target.id].$touch()
    },
    async submit (project) {
      this.$v.project.$touch()
      if (this.$v.project.$invalid) {
        return
      }
      if (this.projectId) {
        await this.$store.dispatch('updateProject', project)
      } else {
        await this.$store.dispatch('createProject', project)
        this.$router.push({
          name: 'EditProject',
          params: { id: this.project.id }
        })
      }
    },
    refreshState () {
      this.$store.dispatch('fetchProject', this.projectId)
    },
    redirectTo () {
      this.$router.push({ name: 'Project' })
    }
  },
  mounted () {
    if (this.projectId) {
      this.refreshState()
    } else {
      this.RESET_STATE()
    }
  },
  validations: {
    project: {
      name: { required },
      title: { required },
      description: { required },
      status: {}
    }
  }
}
</script>

<style scoped>
img {
  height: 56px;
  width: 56px;
  max-width: none;
  border-radius: 4px
}
div ul li a {
  color: #6c757d !important;
  /* background-color: transparent !important;
  border-color: transparent !important; */
}
.nav-tabs {
  border-bottom: 1px solid #6c757d !important;
}
.input-up {
  display: flex;
  position: absolute;
  top: .25em;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  color: red;
}
/* .form-group{
  display: flex;
  flex-direction: column;
} */
.form-group > label {
  top: 18px;
  left: 6px;
  position: relative;
  background-color: white;
  padding: 0px 5px 0px 5px;
  font-size: 0.9em;
  /* background: transparent !important;
  color: white; */
  /* border-color: white !important; */
}

input, textarea {
  border-color: #6c757d !important;
  background: transparent;
}

label{
  background: #424242 !important;
  color: white;
}

.input-search {
  background: transparent;
  border-color: white;
  color: white;
}

.btn-add {
  box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12);
  background-color: hsla(0,0%,100%,.12);
  color: white;
  height: 40px;
}
.active-1 {
  color: #495057;
  background-color: transparent !important;
  border-bottom: 2px solid #2196f3 !important;
}

.form-control-add {
    /* position: relative; */
    /* display: i; */
    width: auto;
    height: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border: 0;

    background: #424242 !important;
    background-clip: padding-box;
    border: 1px solid #6c757d !important;
    border-radius: .25rem;
    padding: 12px 12px 12px 12px;
    /* margin-bottom: -29px; */
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.chip {
  display: inline-block;
  padding: 0px 10px 10px 10px;
  height: 31px;
  font-size: 16px;
  line-height: 28px;
  border-radius: 25px;
  background-color: rgb(97,97,97);
  color: rgb(246,246,246);
}
</style>
