<template>
  <div class="container">This is a main component
    <skill/>
    <category/>
  </div>
</template>
<script>
import Category from '../category/Category.vue'
import Skill from '../skill/Skill.vue'

export default {
  name: 'Configuration',
  components: {
      Category,
      Skill
  }
}
</script>
<style scoped src="@/assets/css/global-container.css"></style>
