
.container {
  z-index: 2;
  position: relative;
}
.input-modify {
  background: transparent;
  border-color: rgb(108,117,125);
  color: white;
}
.form-group > label {
  top: 18px;
  left: 6px;
  position: relative;
  background-color: white;
  padding: 0px 5px 0px 5px;
  font-size: 0.9em;
}
label {
  background: #424242 !important;
  color: white;
}
