.nav-tab-modify {
    border-radius: 8px 8px 8px 8px !important; 
    background: #424242 !important;
}
.nav {
    border-bottom: 1px solid #6c757d !important;
}
.nav-item {
color: #6c757d !important;
}
.active-1 {
color: #6c757d !important;
background-color: transparent !important;
border-bottom: 2px solid #2196f3 !important;
border-top: none;
border-left: none;
border-right: none;
}