<template>
  <div>
    <h1 class="title">PAGE 404</h1>

    <p class="notification is-info">
      LOOOOOOOOOOOOOOOOOST !
      <router-link class="button is-white" to="/">GET BACK HOM</router-link>
    </p>
  </div>
</template>
<script>
export default {
  name: 'Page404'
}
</script>
