<template>
  <div class="chat-wrapper" :class="{ 'chat-wrapper-close' : this.openClose}">
    <div class="header-color d-flex justify-content-between bd-highlight">
      <div class="d-flex justify-content-start">
        <div class="mr-3">
           <button class="btn" type="button" @click="handleChat()" style="width: 70px !important;">
            <span class="span-icon">
              <i class="fab fa-facebook-messenger"></i>
            </span>
          </button>
          <span v-if="!this.openClose">Team Chat</span>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-add" @click="handleChat()">
          <span class="span-icon" style="font-size: 20px;">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
    </div>
    <div>
      <div class="chat-list">
        <div class="card-img mb-1">
          <div class="d-flex">
            <button class="btn" type="button">
              <img src="http://angular-material.fusetheme.com/assets/images/avatars/alice.jpg" alt="" width="40px" height="40px" style="border-radius:150px;">
            </button>
          </div>
        </div>
        <div class="card-img mb-1">
          <div class="d-flex">
            <button class="btn" type="button">
              <img src="http://angular-material.fusetheme.com/assets/images/avatars/Arnold.jpg" alt="" width="40px" height="40px" style="border-radius:150px;">
            </button>
          </div>
        </div>
        <div class="card-img mb-1">
          <div class="d-flex">
            <button class="btn" type="button">
              <img src="http://angular-material.fusetheme.com/assets/images/avatars/Barrera.jpg" alt="" width="40px" height="40px" style="border-radius:150px;">
            </button>
          </div>
        </div>
        <div class="card-img mb-1">
          <div class="d-flex">
            <button class="btn" type="button">
              <img src="http://angular-material.fusetheme.com/assets/images/avatars/Blair.jpg" alt="" width="40px" height="40px" style="border-radius:150px;">
            </button>
          </div>
        </div>
        <div class="card-img mb-1">
          <div class="d-flex">
            <button class="btn" type="button">
              <img src="http://angular-material.fusetheme.com/assets/images/avatars/Boyle.jpg" alt="" width="40px" height="40px" style="border-radius:150px;">
            </button>
          </div>
        </div>
        <div class="card-img mb-1">
          <div class="d-flex">
            <button class="btn" type="button">
              <img src="http://angular-material.fusetheme.com/assets/images/avatars/Christy.jpg" alt="" width="40px" height="40px" style="border-radius:150px;">
            </button>
          </div>
        </div>
        <div class="card-img mb-1">
          <div class="d-flex">
            <button class="btn" type="button">
              <img src="http://angular-material.fusetheme.com/assets/images/avatars/Copeland.jpg" alt="" width="40px" height="40px" style="border-radius:150px;">
            </button>
          </div>
        </div>
      </div>
      <div class="type-message">
        <div class="container">
          <div class="center d-flex justify-content-center">
            <div class="center-ob" style="color: white;" v-if="!this.openClose" >
              <div>
                <span class="span-icon" style="font-size: 100px">
                  <i class="fab fa-facebook-messenger"></i>
                </span>
              </div>
              <div>
                <span>
                  Select a contact to start a conversation.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Chat',
  data () {
    return {
      openClose: true
    }
  },
  methods: {
    handleChat () {
      if (this.openClose) {
        this.openClose = false
      } else {
        this.openClose = true
      }
    }
  }
}
</script>
<style scoped>
.chat-wrapper {
  background: #424242 !important;
  z-index: 999;
  position: absolute;
  width: 360px;
  min-width: 360px;
  max-width: 360px;
  height: 100vh;
  max-width: 100px;
  float: right;
  right: 0;
}
.chat-wrapper ul{
  list-style-type: none;
  margin: 0;
}
.span-icon {
  color: white;
  align-items: center !important;
  font-size: 33px;
  color: white;
}
.header-color {
  background-color: #2196f3!important;
  color: #fff!important;
  /* height: 63px; */
}

.card-img {
  /* background-color: #2196f3!important;
  color: #fff!important; */
  height: 63px;
}

.header-color {
  cursor: pointer;
}

.chat-list {
  position: fixed;
  z-index: 5;
  padding: 16px 0;
  width: 72px;
  min-width: 72px;
  max-width: 72px;
  background: #212121;
  overflow: hidden;
  height: 100vh;
  /* max-height: calc(100% - 30px);
    height: calc(100% - 30px); */
    overflow-y: scroll;
    position: relative;
}

.type-message {
  background: #424242 !important;
  height: 100vh;
  width: 80%;
  float: right;
}

.center {
  height: 100vh;
  text-align: center;
}

/* If the text has multiple lines, add the following: */
.center-ob {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.chat-wrapper-close {
  background: #424242 !important;
  z-index: 999;
  position: absolute;
  width: 72px;
  min-width: 72px;
  max-width: 72px;
  height: 100vh;
  max-width: 100px;
  float: right;
  right: 0;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

</style>
