<template>
  <div class="container">
    <form @submit.prevent="submit(user)">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstName">First Name</label>
          <!-- :class="{ hasError: hasErrors, hasSuccess: isValid }" -->
          <!-- :class="[$v.user.lastName.$error ? 'is-invalid' : '']" -->
          <input type="text" class="form-control" :class="{ 'is-invalid' : $v.user.firstName.$error, 'is-valid' : $v.user.firstName.required }" id="firstName" placeholder="firstName" name="firstName" :value="user.firstName" @input="handleForm($event)">
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="lastName">Middle Name</label>
          <input type="text" class="form-control" :class="{ 'is-invalid' : $v.user.middleName.$error, 'is-valid' : $v.user.middleName.required }" id="middleName" placeholder="middleName" :value="user.middleName" @input="handleForm($event)">
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" :class="{ 'is-invalid' : $v.user.lastName.$error, 'is-valid' : $v.user.lastName.required }" id="lastName" placeholder="lastName" :value="user.lastName" @input="handleForm($event)">
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="text">email</label>
          <input type="email" class="form-control" :class="{ 'is-invalid' : $v.user.email.$error, 'is-valid' : $v.user.email.required }" id="email" placeholder="email" :value="user.email" @input="handleForm($event)">
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="userName">User Name</label>
          <input type="text" class="form-control" :class="{ 'is-invalid' : $v.user.userName.$error, 'is-valid' : $v.user.userName.required }" id="userName" placeholder="userName" :value="user.userName" @input="handleForm($event)">
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="description">Description</label>
          <textarea class="form-control" rows="3" :class="{ 'is-invalid' : $v.user.description.$error, 'is-valid' : $v.user.description.required }" id="description" placeholder="description" :value="user.description" @input="handleForm($event)"></textarea>
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="gender">Gender</label>
          <select class="form-control" :class="{ 'is-invalid' : $v.user.gender.$error, 'is-valid' : $v.user.gender.required }" id="gender" placeholder="gender" :value="user.gender" @input="handleForm($event)">
            <option disabled>Selcet option</option>
            <option value="MALE">MALE</option>
            <option value="FEMALE">FEMALE</option>
          </select>
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="lastName">Birthdate</label>
          <input type="date" class="form-control" :class="{ 'is-invalid' : $v.user.birthdate.$error, 'is-valid' : $v.user.birthdate.required }" id="birthdate" placeholder="birthdate" :value="user.birthdate" @input="handleForm($event)">
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="phone">Phone</label>
          <input type="number" class="form-control" :class="{ 'is-invalid' : $v.user.phone.$error, 'is-valid' : $v.user.phone.required }" id="phone" placeholder="phone" :value="user.phone" @input="handleForm($event)">
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
        <div class="form-group col-md-6">
          <label class="form-checkbox" for="status">Status</label>
          <input type="checkbox" class="form-control" id="status" placeholder="status" :checked="user.status" @input="handleForm($event)">
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success">Done</button>
      <button type="button" class="btn btn-danger" @click="redirectTo()">Cancel</button>
      <button type="button" class="btn btn-success" @click="refreshState()"> Refresh </button>
    </form>
  </div>
</template>

<script>

import { mapGetters, mapActions, mapMutations } from 'vuex'
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'EditUser',
  computed: {
    ...mapGetters(['getUser']),
    userId () {
      return this.$route.params.id
    },
    user () {
      return this.$store.state.user.user
    }
  },
  methods: {
    ...mapActions(['fetchUser', 'createUser', 'updateUser', 'updateActionUser']),
    ...mapMutations(['RESET_STATE']),
    handleForm (e) {
      this.$store.dispatch('updateActionUser', e)
      this.$v.user[e.target.id].$touch()
    },
    async submit (user) {
      this.$v.user.$touch()
      if (this.$v.user.$invalid) {
        return
      }
      if (this.userId) {
        this.$store.dispatch('updateUser', user)
      } else {
        await this.$store.dispatch('createUser', user)
        this.$router.push({name: 'EditUser', params: {id: this.user.id}})
      }
    },
    redirectTo () {
      this.$router.push({name: 'User'})
    },
    async refreshState () {
      await this.$store.dispatch('fetchUser', this.userId)
    }
  },
  async mounted () {
    if (this.userId) {
      this.refreshState()
    } else {
      this.RESET_STATE()
    }
  },
  validations: {
    user: {
      firstName: { required },
      middleName: { required },
      lastName: { required },
      email: { required },
      userName: { required },
      description: { required },
      gender: { required },
      birthdate: { required },
      phone: { required },
      status: { }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
