<template>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          Made with 💖 by
          <a href="https://facebook">dsdsd</a>
        </p>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  name: 'Footerbar'
}
</script>
