<template>
  <div>
    <nav id="sidebar" class="sidebar-wrapper" :class="{'closed' : !this.option}">
      <div class="sidebar-brand" style="background-color: #1e2129!important;">
        <img src="http://angular-material.fusetheme.com/assets/images/logos/fuse.svg" alt="" width="40px" height="40px">
        <a>sidebar</a>
        <div id="close-sidebar" v-on:click="$emit('closeSidebar')" class="close-i" :class="{'closed' : !this.option}">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-content">
        <div class="sidebar-header d-flex justify-content-center" style="background-color: #1e2129!important;" :class="{'closed' : !this.option}">
          <div class="user-info text-center" v-if="this.option">
            <span class="user-name">Charlie Adams
            </span>
            <span class="user-role">adams.charlie@mail.com</span>
          </div>
        </div>
        <div class="avatar-container" :class="{'closed' : !this.option}">
          <img src="http://angular-material.fusetheme.com/assets/images/avatars/Velazquez.jpg" alt="" class="avatar" :class="{'closed' : !this.option}">
        </div>
        <div class="sidebar-menu d-flex" style="background: rgb(45,50,62) !important;" :class="{'closed' : !this.option}">
          <ul>
            <li class="header-menu" v-if="this.option">
              <span>General</span>
            </li>
            <li>
              <div class="header-line" v-if="!this.option"></div>
            </li>
            <li class="sidebar-dropdown cursor-pointer" :class="{'active': this.active && 'dashboard' == this.id, 'closed' : !this.option}">
              <a id="dashboard" @click="activeDropDown($event)">
                <i id="dashboard" class="fa fa-tachometer-alt"></i>
                <span id="dashboard">Dashboard</span>
                <span id="dashboard" class="badge badge-pill badge-warning">New</span>
              </a>
              <div class="sidebar-submenu" :style="{ 'display': `${'dashboard' == this.id? this.display : 'none'}`, 'closed' : !this.option }">
                <ul style="list-style-type: none;">
                  <li>
                    <router-link
                      tag="a"
                      class="col"
                      class-active="active"
                      :class="{ 'router-link-active' : this.$route.matched[0].name === 'Project' }"
                      to="/user"
                      exact
                    >Users
                    <span class="badge badge-pill badge-success">Pro</span>
                    </router-link>
                  </li>
                  <li>
                    <router-link
                      tag="a"
                      class="col"
                      class-active="active"
                      :class="{ 'router-link-active' : this.$route.matched[0].name === 'Project' }"
                      to="/project"
                      exact
                    >Projects</router-link>
                  </li>
                  <li>
                    <a>Categories</a>
                  </li>
                </ul>
              </div>
            </li>
            <!-- <li class="sidebar-dropdown" :class="{'closed' : !this.option}">
              <a href="#">
                <i class="fa fa-shopping-cart"></i>
                <span>E-commerce</span>
                <span class="badge badge-pill badge-danger">3</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a href="#">Products

                    </a>
                  </li>
                  <li>
                    <a href="#">Orders</a>
                  </li>
                  <li>
                    <a href="#">Credit cart</a>
                  </li>
                </ul>
              </div>
            </li> -->
            <li class="sidebar-dropdown" :class="{'active': this.active && 'component' == this.id, 'closed' : !this.option}">
              <a id="component" @click="activeDropDown($event)">
                <i id="component" class="far fa-gem"></i>
                <span id="component">Components</span>
              </a>
              <div class="sidebar-submenu" :style="{ 'display': `${'component' == this.id? this.display : 'none'}`, 'closed' : !this.option }">
                <ul>
                  <li>
                    <router-link
                      tag="a"
                      class="col"
                      class-active="active"
                      :class="{ 'router-link-active' : this.$route.matched[0].name === 'Configuration' }"
                      to="/configuration"
                      exact
                    >Configuration</router-link>
                  </li>
                </ul>
              </div>
            </li>
            <li class="sidebar-dropdown" :class="{'closed' : !this.option}">
              <a href="#">
                <i class="fa fa-chart-line"></i>
                <span>Charts</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a href="#">Pie chart</a>
                  </li>
                  <li>
                    <a href="#">Line chart</a>
                  </li>
                  <li>
                    <a href="#">Bar chart</a>
                  </li>
                  <li>
                    <a href="#">Histogram</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="sidebar-dropdown cursor-pointer" :class="{'active': this.active && this.id == 'maps', 'closed' : !this.option}">
              <a id="maps" @click="activeDropDown($event)">
                <i id="maps" class="fa fa-globe"></i>
                <span id="maps">Maps</span>
              </a>
              <div class="sidebar-submenu" :style="{ 'display': `${'maps' == this.id? this.display : 'none'}`, 'closed' : !this.option }">
                <ul>
                  <li>
                    <a href="#">Google maps</a>
                  </li>
                  <li>
                    <a href="#">Open street map</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header-menu" v-if="this.option">
              <span>Extra</span>
            </li>
            <li>
              <div class="header-line" v-if="!this.option"></div>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-book"></i>
                <span>Documentation</span>
                <span class="badge badge-pill badge-primary">Beta</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-calendar"></i>
                <span>Calendar</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-folder"></i>
                <span>Examples</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- <div class="sidebar">
    <span>Sidebar</span>
    <router-link
      tag="li"
      class="col"
      class-active="active"
      :class="{ 'router-link-active' : this.$route.matched[0].name === 'Project' }"
      to="/project"
      exact
    >Projects</router-link>
    <router-link tag="li" class="col" class-active="active" to="/user" exact>Users</router-link>
  </div> -->
</template>
<script>

export default {
  name: 'Sidebar',
  props: {
    option: false
  },
  data () {
    return {
      active: false,
      display: 'none',
      id: '',
      closeSidebar: false
    }
  },
  methods: {
    activeDropDown (event) {
      console.log('---------_>>>>>>>', event.target.id)
      console.log('==---> ', this.id.length)
      if (this.id.length > 0) {
        if (this.id !== event.target.id) {
          this.active = false
          this.display = 'none'
          this.id = ''
        }
      }
      if (this.active) {
        this.active = false
        this.display = 'none'
        this.id = event.target.id
      } else {
        this.active = true
        this.display = 'block'
        this.id = event.target.id
      }
    },
    sendData () {
      this.closeSidebar = true
    }
  }
}
</script>
<style scoped>
.cursor-pointer {
  cursor: pointer;
}
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*----------------page-wrapper----------------*/

.page-wrapper {
  height: 100vh;
}

.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}

.page-wrapper .theme.chiller-theme {
  background: #1e2229 !important;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
  width: 260px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 300px;
  }
}
/*----------------show sidebar button----------------*/
#show-sidebar {
  position: fixed;
  left: 0;
  top: 10px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
}
.page-wrapper.toggled #show-sidebar {
  left: -40px;
}
/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
  /* width: 260px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0; */
  /* left: -300px; */
  /* z-index: 999; */
  width: 73px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  /* left: -300px; */
  z-index: 999;

  align-content: center !important;
  align-items: center !important;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-wrapper a {
  text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
}

.sidebar-content.desktop {
  overflow-y: hidden;
}
/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.sidebar-wrapper .sidebar-brand > a {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 20px;
}
/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
  padding: 20px;
  overflow: hidden;
  height: 136px !important;
}

.sidebar-wrapper .sidebar-header .user-pic {
  float: left;
  width: 60px;
  padding: 2px;
  border-radius: 12px;
  margin-right: 15px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
  float: left;
}

.sidebar-wrapper .sidebar-header .user-info > span {
  display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
  font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
  font-size: 11px;
  margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}

/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search > div {
  padding: 10px 20px;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}

/*--------------------------side-footer------------------------------*/

.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
}

.sidebar-footer > a {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
}

.sidebar-footer > a .notification {
  position: absolute;
  top: 0;
}

.badge-sonar {
  display: inline-block;
  background: #980303;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
}

.badge-sonar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #980303;
  opacity: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: sonar 1.5s infinite;
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 20px;
}

.page-wrapper .page-content > div {
  padding: 20px 40px;
}

.page-wrapper .page-content {
  overflow-x: hidden;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
    background: #31353D;
}

.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
    /* border-top: 1px solid #3a3f48; */
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: transparent;
    box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand>a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer>a {
    /* color: #818896; */
    color: rgb(224,225,227);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
.chiller-theme .sidebar-footer>a:hover i {
    color: #b8bfce;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
    color: #bdbdbd;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
    color: #ffffff;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #29c7ff;
    text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background: #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #6c7b88;
}

.chiller-theme .sidebar-footer {
    background: #3a3f48;
    box-shadow: 0px -1px 5px #282c33;
    border-top: 1px solid #464a52;
}

.chiller-theme .sidebar-footer>a:first-child {
    border-left: none;
}

.chiller-theme .sidebar-footer>a:last-child {
    border-right: none;
}

.avatar-container {
  position: absolute;
  top: 92px;
  border-radius: 50%;
  padding: 8px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
}
.avatar {
  width: 80px;
  min-width: 80px;
  height: 80px;
  line-height: 80px;
  margin: 0 8px 0 0;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  border: 7px solid rgb(45,50,62) !important;
}

/*  sidebar responsive */

/* .sidebar-wrapper-close {
  width: 73px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 999;

  align-content: center !important;
  align-items: center !important;
}
*/
.sidebar-wrapper.closed div ul li span {
  display: none;
}

.sidebar-wrapper.closed div ul li span {
  display: none;
}

.sidebar-wrapper.closed .sidebar-menu.closed .sidebar-dropdown.closed > a:after {
  display: none;
}

.avatar.closed {
  width: 40px;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 8px 0 0;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  border: none !important;
}

.avatar-container.closed {
  top: 0 !important;
  padding-right: 0;
}

nav.closed div a {
  display: none;
}

.sidebar-header.closed {
  height: 64px !important;
  display: flex;
}

.close-i.closed {
  display: none;
}

.header-line {
  width: 30px;
  border: 1px solid rgb(87,91,101);
  padding: 0px 0px 0px 0px;
  margin-left: 20px;
  display: inline-block;
}

</style>
