<div class="sidebar">
    <div class="box">
      this is a sidebar box
    </div>

    <div class="box">
      hey another side bar box
    </div>

    <div class="box">
      OMG really ? I don't know what to put here
    </div>
  </div>