<template>
  <div>
    <div class="container">
      <router-link :to="{ name: 'CreateUser' }" type="button" class="btn btn-success">New User</router-link>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>firstName</th>
          <th>lastName</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in users" :key="item.id">
          <td>{{ item.id }}</td>
          <td>{{ item.firstName }}</td>
          <td>{{ item.lastName }}</td>
          <td>
            <router-link :to="{ name: 'EditUser', params: { id: item.id } }" class="btn btn-success"><span>Edit</span></router-link>
            <button class="btn btn-danger" @click="deleteUser(item.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'User',
  data () {
    return {
      users: this.$store.state.user.users
    }
  },
  computed: {
    ...mapGetters(['getUsers'])
  },
  methods: {
    ...mapActions(['fetchUsers', 'removeUser']),
    async deleteUser (item) {
      await this.$store.dispatch('removeUser', item)
      await this.$store.dispatch('fetchUsers')
      this.users = this.$store.state.user.users
    }
  },
  async mounted () {
    await this.$store.dispatch('fetchUsers')
    this.users = this.$store.state.user.users
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
