<template>
  <div class="cotainer">
    <div class="card">
      <div class="card-header">
        Category
      </div>
      <div class="card-body">
        Body
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Category'
}
</script>
<style scoped>
</style>
