<template>
  <div id="app">
    <!-- <navbar/> -->
    <!-- <img src="./assets/logo.png"> -->
    <!-- <router-view/> -->
    <component :is="layout">
      <router-view/>
    </component>
  </div>
</template>

<script>

// let default_layout = 'default'

export default {
  name: 'App',
  computed: {
    layout () {
      return (this.$route.meta.layout || 'default') + '-layout'
    }
  },
  created () {
    // nothing defined here (when this.$route.path is other than "/")
    console.log(this.$route, this.$route.meta.layout)
  },
  updated () {
    // something defined here whatever the this.$route.path
    console.log(this.$route, this.$route.meta.layout)
  }
}
</script>

<style>
#app {
  font-family: 'Muli', sans-serif;
  /* font-family: 'Muli', Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  margin-top: 0px;
}
</style>
