<template>
  <div style="background: rgb(48,48,48) !important;">
    <!-- page-wrapper chiller-theme toggled -->
    <!-- page-wrapper chiller-theme -->
    <div class="page-wrapper chiller-theme" :class="{ 'toggled' : this.openSidebar }" style="background: rgb(48,48,48) !important;">
      <a id="show-sidebar" class="btn btn-sm btn-dark btn-response" @click="handleSidebar()">
        <span style="margin-left: -22px;">
          <i class="fas fa-bars"></i>
        </span>
      </a>
      <sidebar v-on:closeSidebar="openSidebar? openSidebar = false : openSidebar" :option="this.openSidebar"/>
      <div class="page-content-header">
        <div>
          <chat />
        </div>
        <nav class="navbar navbar-dark bg-dark" style="background: #424242 !important; padding-top: 0 !important; padding-bottom: 0 !important;">
          <div class="navbar-brand">
            <button class="btn">
              <i class="fas fa-calendar-times"></i>
            </button>
            <button class="btn">
              <i class="fas fa-envelope"></i>
            </button>
            <button class="btn">
              <i class="fas fa-id-badge"></i>
            </button>
            <button class="btn">
              <i class="far fa-check-square"></i>
            </button>
          </div>
          <form class="form-inline my-2 my-lg-0">
            <div class="toolbar-separator"></div>
            <button class="btn my-2 my-sm-0 mf-8 dropdown nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="http://angular-material.fusetheme.com/assets/images/avatars/Velazquez.jpg" alt="" width="40px" height="40px" style="border-radius:150px;">
              <span class="span1">Charlie Adams</span>
              <div class="dropdown-menu" style="background: #424242 !important;" aria-labelledby="navbarDropdown">
                <a class="dropdown-item btn">
                  <i class="far fa-user-circle mr-2"></i>
                  <router-link tag="span" to="/profile" exact>
                    My Profile
                  </router-link>
                </a>
                <a class="dropdown-item btn">
                  <i class="far fa-envelope mr-2"></i>
                  <span>
                    Inbox
                  </span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item btn">
                  <i class="fas fa-sign-out-alt mr-2"></i>
                  <span>
                    Logout
                  </span>
                </a>
              </div>
            </button>
            <div class="toolbar-separator"></div>
            <button class="btn my-2 my-sm-0 mf-8">
              <span style="color: hsla(0,0%,100%,.7);">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </button>
            <div class="toolbar-separator"></div>
            <button class="btn my-2 my-sm-0 mf-8">
              <img src="http://angular-material.fusetheme.com/assets/icons/flags/us.png" alt="">
              EN
            </button>
            <div class="toolbar-separator"></div>
            <button class="btn my-2 my-sm-0 mf-8">
              <i class="fas fa-list-ul"></i>
            </button>
          </form>
          <!-- <div class="toolbar-separator"></div> -->
          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
        </nav>
        <div class="card-color"></div>
      </div>
      <main class="page-content" style="background: rgb(48,48,48) !important;">
        <!-- <div class="container-fluid"> -->
          <slot />
        <!-- </div> -->
      </main>
      <!-- <div class="mb-4"></div> -->
    </div>
  </div>

</template>

<script>
import Navbar from '../components/Navbar.vue'
import Sidebar from '../components/Sidebar.vue'
import Footerbar from '../components/Footerbar.vue'
import Chat from '../components/Chat.vue'

export default {
  name: 'Default',
  data () {
    return {
      counter: 0,
      openSidebar: true
    }
  },
  components: {
    Navbar,
    Sidebar,
    Footerbar,
    Chat
  },
  methods: {
    handleSidebar () {
      if (this.openSidebar) {
        this.openSidebar = false
      } else {
        this.openSidebar = true
      }
    },
    recive (result) {
      console.log('Esto es lo que recivo --> ', result)
    }
  }
}
</script>
<style scoped>
.page-wrapper .page-content .page-content-header .navbar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.page-wrapper .sidebar-wrapper,
.page-wrapper .page-content,
.page-wrapper .theme.chiller-theme {
  background: #1e2229;
}
/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 260px !important;
  }
}
/*----------------show sidebar button----------------*/
#show-sidebar {
  position: fixed;
  left: 0;
  top: 10px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
}
.page-wrapper.toggled #show-sidebar {
  left: -40px;
}
.page-wrapper.chiller-theme.toggled #close-sidebar {
    color: #bdbdbd;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
    color: #ffffff;
}
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/*----------------show sidebar button----------------*/
#show-sidebar {
  position: fixed;
  left: 0;
  top: 10px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
}
.page-wrapper.toggled #show-sidebar {
  left: -40px;
}
/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}

.card-color {
  background-color: #607d8b!important;
  position: absolute;
  z-index: 1;
  /* top: 16%;  */
  right: 0;
  left: 0;
  widows: 100%;
  padding-right: 70px;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 300px;
  }
  .page-wrapper.toggled .page-content-header {
    padding-left: 260px;
    padding-right: 70px;
     -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 73px;
  padding-top: 20px;
  padding-right: 70px;
  background-color: white !important;
}

.page-wrapper .page-content > div {
  padding: 20px 40px;
}

.page-wrapper .page-content {
  overflow-x: hidden;
}

.page-content-header {
  display: inline-block;
  width: 100%;
  padding-left: 73px;
  padding-right: 55px;
  padding-top: 0px;
  background-color: white !important;
}

.toolbar-separator {
    height: 64px;
    width: 1px;
    background: hsla(0,0%,100%,.12);
}
.btn {
  color: #fff;
}

.span1 {

}

/* .span1::after */
.span1::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  /* position: absolute; */
  /* right: 15px; */
  top: 14px;
  padding-right: 9px;
  padding-left: 12px;
}
.span1::after {
  transform: rotate(90deg);
  right: 17px;
}

.chat-wrapper {
  /* display: inline-block; */
  width: 200px;
  height: 100vh;
  position: fixed !important;
  /* padding-left: 0px;
  padding-top: 0px; */
  background-color: white !important;
  float: right;
  /* z-index: 999; */
}

.btn-response {
  padding-left: 104px;
  z-index: 999;
  position: absolute;
  top: 20%;
  margin-top: 4.5%;
}
</style>
