<template>
  <div>
    <!-- <navbar /> -->

    <!-- <div class="container"> -->
      <slot />
    <!-- </div> -->

    <!-- <footerbar /> -->
  </div>
</template>

<script>
import Navbar from '../components/Navbar.vue'
import Footerbar from '../components/Footerbar.vue'

export default {
  name: 'Default',
  components: {
    Navbar,
    Footerbar
  }
}
</script>
