<template>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="text-center mb-3">
          <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="mb-2 avatar img-circle img-thumbnail" alt="avatar">
          <h6>Upload a different photo...</h6>
        </div>
        <div class="custom-file pmd-custom-file mb-3">
          <input type="file" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <div class="card mb-2">
          <div class="card-header" style="background: rgb(66,66,66) !important; color: white;">
            Social Media
          </div>
          <div class="card-body">
            <span>
              <i class="fab fa-github-alt"></i>
              Github
            </span>
            <span>
              <i class="fab fa-gitlab"></i>
              Gitlab
            </span>
            <span>
              <i class="fab fa-linkedin"></i>
              Linkedin
            </span>
            <span>
              <i class="fab fa-bitbucket"></i>
              Bitbucket
            </span>
            <span>
              <i class="fab fa-facebook-square"></i>
              facebook
            </span>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item" style="background: rgb(66,66,66) !important; color: white;">Activity <i class="fa fa-dashboard fa-1x"></i></li>
          <li class="list-group-item d-flex justify-content-between align-items-cente">
            <span class="pull-right"><strong>Shares</strong></span> 
            125 
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-cente"><span class="pull-left"><strong>Likes</strong></span> 13</li>
          <li class="list-group-item d-flex justify-content-between align-items-cente"><span class="pull-left"><strong>Posts</strong></span> 37</li>
          <li class="list-group-item d-flex justify-content-between align-items-cente"><span class="pull-left"><strong>Followers</strong></span> 78</li>
        </ul>   
      </div>
      <div class="col-md-9">
        <div class="nav-tab-modify">
          <ul class="nav nav-tabs" id="nav-tab" role="tablist">
            <li class="nav-item" @click="activateTab($event)">
              <a class="nav-link" :class="{'active-1': this.changeTab == 'nav-home-tab'}" id="nav-home-tab" data-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
            </li>
            <li class="nav-item" @click="activateTab($event)">
              <a class="nav-link" :class="{'active-1': this.changeTab == 'nav-cp-tab'}" id="nav-cp-tab" data-toggle="tab" role="tab" aria-controls="nav-cp" aria-selected="true">Change Password</a>
            </li>
          </ul>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" :class="{'show active': this.changeTab == 'nav-home-tab'}">
              <div class="container">
                <form>
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label form="title">FirstName*</label>
                      <input
                        type="text"
                        class="form-control input-modify"
                        placeholder="FirstName"
                        id="title"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label form="title">MiddleName*</label>
                      <input
                        type="text"
                        class="form-control input-modify"
                        placeholder="MiddleName"
                        id="title"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label form="title">LastName*</label>
                      <input
                        type="text"
                        class="form-control input-modify"
                        placeholder="LastName"
                        id="title"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label form="title">UserName*</label>
                      <input
                        type="text"
                        class="form-control input-modify"
                        placeholder="UserName"
                        id="title"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label form="title">Email*</label>
                      <input
                        type="text"
                        class="form-control input-modify"
                        placeholder="Email"
                        id="title"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label form="title">Rol*</label>
                      <select name="" id="" class="form-control input-modify" style="background: rgb(66,66,66) !important;">
                        <option value="ADMIN">ADMIN</option>
                        <option value="ADMIN">USER</option>
                        <option value="ADMIN">CLIENT</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label form="title">Gender*</label>
                      <select name="" id="" class="form-control input-modify" style="background: rgb(66,66,66) !important;">
                        <option value="MALE">MALE</option>
                        <option value="FEMALE">FEMALE</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label form="title">Status*</label>
                      <div class="mb-2"></div>
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input input-modify" id="customSwitch1">
                        <label class="custom-control-label" for="customSwitch1">Activate user</label>
                      </div>
                    </div>
                    <div class="form-group col-md-12">
                      <label form="title">Description*</label>
                      <textarea
                        class="form-control input-modify"
                        rows="3"
                        placeholder="description"
                        id="description"
                      ></textarea>
                    </div>
                    <div class="form-group col-md-6">
                      <label form="title">Birthdate*</label>
                      <input
                        type="date"
                        class="form-control input-modify"
                        placeholder="Birthdate"
                        id="title"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label form="title">Phone*</label>
                      <input
                        type="number"
                        class="form-control input-modify"
                        placeholder="Phone"
                        id="title"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label form="title">Country*</label>
                      <select name="" id="" class="form-control input-modify" style="background: rgb(66,66,66) !important;">
                        <option value="MALE">Bolivia</option>
                        <option value="FEMALE">Peru</option>
                      </select>
                    </div>
                    <div class="form-group col-md-12">
                      <br>
                      <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                      <button class="btn btn-danger" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-cp" role="tabpanel" aria-labelledby="nav-cp-tab" :class="{'show active': this.changeTab == 'nav-cp-tab'}">
              <div class="container">
                <form action="">
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label form="title">Password*</label>
                      <input
                        type="password"
                        class="form-control input-modify"
                        placeholder="Password"
                        id="title"
                      />
                    </div>
                    <div class="form-group col-md-12">
                      <label form="title">New Password*</label>
                      <input
                        type="password"
                        class="form-control input-modify"
                        placeholder="New password"
                        id="title"
                      />
                    </div>
                    <div class="form-group col-md-12">
                      <label form="title">Repit new Password*</label>
                      <input
                        type="password"
                        class="form-control input-modify"
                        placeholder="Repit new password"
                        id="title"
                      />
                    </div>

                    <div class="form-group col-md-12">
                      <button type="submit" class="btn btn-success mr-2">Done</button>
                      <button type="reset" class="btn btn-danger">Reset</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Profile',
  data () {
    return {
      changeTab: 'nav-home-tab'
    } 
  },
  mounted () {
    console.log('this is profile')
  },
  methods: {
    activateTab (event) {
      console.log('The event --> ', event.target.id)
      this.changeTab = event.target.id
    }
  }
}
</script>
<style scoped src="@/assets/css/input.css"></style>
<style scoped src="@/assets/css/tabs.css"></style>
<style scoped src="@/assets/css/avatar.css"></style>
<style scoped>
h6, .file-upload {
  color: white !important;
}
</style>
